{#
/**
 * @file
 * Default theme implementation to display a printable Ubercart invoice.
 *
 * @see template_preprocess_uc_order_invoice_page()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <title>{{ head_title }}</title>
    <style type="text/css">
      .buttons {
        text-align: right;
        margin: 0 1em 1em 0;
      }
    </style>
    <style type="text/css" media="print">
      .buttons {
        display: none;
      }
    </style>
  </head>
  <body{{ attributes }}>
    <div class="buttons">
      <input type="button" value="{{ 'Print invoice'|t }}" onclick="window.print();" />
      <input type="button" value="{{ 'Back'|t }}" onclick="history.back();" />
    </div>

    {{ content }}
  </body>
</html>
